<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#4DA5F4">
    <meta name="csrf-token">
    <title> star list</title>
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <script src="/js/main.js"></script>

  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand"><i class="fa fa-hand-spock-o" aria-hidden="true"></i>YO! TALK TO ME</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">


      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (user==undefined) { %>
        <li><a href="/login">Login</a></li>

        <li></li>


        <% } %>
        <% if(user) { %>

          <li><a href="/star/<%=user.instagram%>"><img src="<%= user.profile.picture %>" alt=""><%= user.profile.name %></a></li>
          <li><a href="/refillmoney"> <%= user.money %>고리</a></li>
          <li><a href="/account"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
          <li><a href="/logout">Logout</a></li>
<% } %>
      </ul>
    </div>
  </div>
</div>
<div class="fluid-container">

  <h3 style="text-align:center">Which one are you talking about?</h3>
<div class="col-md-10 col-md-offset-1" style="height:1000px;">
  <% for (var i = 0; i < reply.length; i++) { %>
  <div class="col-md-3" style="height:280px; width:31%; margin:10px; box-shadow: 5px 5px 5px #888888; background-color:#00A6ED">

    <div class="col-md-10 col-md-offset-1" style="">
      <img style="width:120px; height:120px; border-radius:90px;margin-top:20px; border:4px solid #FFB400;" class="center-block"src="<%= reply[i].profile_picture%>">
    </div>


    <div class="col-md-12">
      <h6 style="text-align:center;">아이디: <span style="font-size:15px;color:white;"><%=reply[i].username%></span> </h6>
      <h6 style="text-align:center;">이름: <span style="font-size:15px;color:white;"><%=reply[i].full_name%></span> </h6>
      <div class="col-md-12">
        <h6 style="text-align:center;">한마디: <span style="font-size:15px;color:white;"><%=reply[i].bio%></span> </h6>
        <div class="col-md-12">
        <a style="margin-top:5px; color:white;" href="/star/<%=reply[i].id%>"class="btn btn-warning center-block">선택하기</a>
      </div>
    </div>

  </div>


  <% } %>





</div>
</div>


  </body>
</html>
