<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#4DA5F4">
<meta name="csrf-token">
<title>고리</title>
<link rel="shortcut icon" href="/favicon.png">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
<script src="/js/main.js"></script>
</head>

<body>
<div class="navbar navbar-default navbar-fixed-top">
<div class="container">
<div class="navbar-header">
<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand"><i class="fa fa-hand-spock-o" aria-hidden="true"></i>YO! TALK TO ME</a>
</div>
<div class="collapse navbar-collapse">
<ul class="nav navbar-nav">
</ul>
<ul class="nav navbar-nav navbar-right">
<% if (user==undefined) { %>
<li><a href="/login">Login</a></li>
<li></li>
<% } %>
<% if(user) { %>
<li><a href="/star/<%=user.instagram%>"><img src="<%= user.profile.picture %>" alt=""><%= user.profile.name %></a></li>
<li>
<a href="/refillmoney">
<%= user.money %>고리</a>
</li>
<li><a href="/account"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
<li><a href="/logout">Logout</a></li>
<% } %>
</ul>
</div>
</div>
</div>
<div class="fluid-container">
<div style=" height:auto;background-color:#00A6ED;">
<div class="col-md-12" style="height:280px; background-color: #00A6ED;">
<div class="col-md-2 col-md-offset-3" style="margin-top:30px;">
<img src="<%=reply.profile_picture%>" style="width:180px; margin:20px auto;height:180px; border:4px solid #FFB400;border-radius:90px;" />
</div>

<div class="col-md-4" style="margin-top:35px;">
<p>아이디:<span style="color:white;"><%=reply.username%></span></p>
<p>이름:<span style="color:white;"><%=reply.full_name%></span></p>
<p>팔로워:<span style="color:white;"><%=reply.counts.followed_by%></span></p>
<p>한마디:<span style="color:white; font-size:15px;"><%=reply.bio%></span></p>
<p>받은 질문갯수:<span style="color:white;"><%=count%></span></p>
<p>기부한액수:<span style="color:white">$
<%  if(donation) { %>
<%= donation[0].donated %>
<%}else{%>
<%= 0 %>
<% } %>
so far</span></p>

</div>
</div>
<div class="col-md-12" style="height:70px; background-color:#f0ad4e;">
<h3 style="color:white; text-align:center">
  <% if (celeb.intro){ %>
  <%= celeb.intro %>
  <% } else {%>
      <span>이분은 아직 한마디를 남겨주지 않으셨어요 :(</span>
    <% } %>
</h3>
</div>
<div class="col-md-12" style="height:70px; background-color:#d9534f">
<h3 style="color:white; text-align:center">이 유저의 최근사진을 보고 찾으신분이 맞는지 확인해주세요</h3>
</div>
<div class="col-md-8 col-md-offset-2">
<% for(var i = 0; i < 5; i++){ %>
<img src="<%=media[i].images.standard_resolution.url  %>" style="margin-top:10px; margin-left:10px;width: 140px; height:140px; border-radius:0px;">
<% }%>
</div>



<div class="col-md-8 col-md-offset-2" style=" height:auto; background-color:#d9534f; opacity:1; margin-top: 30px;">
<h4 style="text-align:center;">부탁내용을 기재해주세요</h4>
<div class="col-md-2">
<img src="<%= user.profile.picture %>" style="margin-top:10px; margin-left:10px;width: 80px; height:80px; border-radius:20px;">
<p style="font-size:15px; color:white;text-align:center;">
<%= user.profile.name %>
</p>
</div>
<div class="col-md-10">

<form action="/postquestion" method="post">

<input type="hidden" name="_csrf" value="<%=_csrf%>">
<input type="hidden" name="user" value="<%= user.id %>">
<input type="hidden" name="target" value="<%= reply.id %>">
<textarea class="form-control" name="context" rows="5"></textarea>
<input type="number" style="margin-top:10px;" class="form-control" name="price" placeholder="몇고리를 지불하시겠어요?">
<input type="checkbox" name="private" value="True" checked><span>비공개로 질문하기</span>
<input type="submit" style="margin-top:10px; margin-bottom:10px;" class="btn btn-warning pull-right" value="부탁하기">
</form>
</div>

</div>

<% for(var i = 0; i < data.length; i++) { %>
<script>
$(document).ready(function() {
$('#butt<%= i %>').click(function() {
$('.context<%= i %>').show();
})


})
</script>

<div class="col-md-12" style="margin-top:30px;">
<% if( data[i].private == true){ %>
<div class="col-md-8 col-md-offset-2" style="background-color:#f0ad4e;margin-top:20px; ">
<% } else { %>
<div class="col-md-8 col-md-offset-2" style="background-color:#8bbbce;margin-top:20px; ">
<% } %>
<div class="col-md-2" style="margin-top:17px; overflow:auto;">
<h4 style="text-align:center;">Asked by</h4>
<img src="<%= data[i].user.profile.picture %>" class="center-block" style="width: 60px; height:60px; border-radius:20px;">
<p style="font-size:14px; text-align:center;">
<%=data[i].user.profile.name %>
</p>
</div>
<div class="col-md-10">
<p style="color:#24305E;margin-top:20px;font-size:25px;text-align:center">
$
<%=data[i].price %>
</p>
<br />
<p id="context<%= i %>" style="display:none;font-size:18; text-align:center;">
<%= data[i].context %>
</p>


<% if(user.instagram == reply.id || user.id == data[i].user.id){ %>
<p style="font-size:18; text-align:center;">
<%= data[i].context %>
</p>
<% } %>
<p class="context<%= i %>" style="display:none;font-size:18; text-align:center;">
<%= data[i].context %>
</p>

<% if(user.instagram == reply.id){ %>
<p style="color:#d9534f;font-size:20px;">답변달고
<%= data[i].price%> 고리를 받으세요!</p>
<form action="/postresponse/<%= data[i].id %>" method="post">
<input type="hidden" name="_csrf" value="<%=_csrf%>">
<input type="hidden" name="user" value="<%= user.id %>">
<input type="hidden" name="instagram" value="<%= user.instagram %>">
<input type="hidden" name="question" value="<%= data[i].id %>">
<textarea class="form-control" name="response" placeholder="수락이나 거절 둘다 답변을 남길수 있습니다" rows="5"></textarea>
<input type="checkbox" name="donate" value="True" checked><span>기부하기</span>
<input type="submit" style="margin-top:10px; margin-bottom:10px;background-color:#d9534f;" class="btn btn-success pull-right" value="수락하기">
</form>
<form action="/rejected/<%= data[i].id %>" method="post">
<input type="hidden" name="_csrf" value="<%=_csrf%>">
<input type="hidden" name="question" value="<%= data[i].id %>">
<input type="submit" style="margin-top:10px; margin-bottom: 10px; background-color:#d9534f;" class="btn btn-warning pull-right" value="거절하기">
<form>

</form>
<% } %>



<% for (var j = 0; j < data[i].response.length; j++) { %>
<div class="context<%= i %>" class="col-md-12" style="display:none;background-color:#6699ff; margin-bottom:20px; border:4px solid #FF6699;">
<h4 style="color:white;"><%= reply.full_name%>님 에게서 답변이 왔어요!</h4>
<p style="font-size:18; text-align:center; ">
<%= data[i].response[j].response %>
</p>
</div>
<% if(user.instagram == reply.id || user._id == data[i].user.id){ %>

<div class="col-md-12" style="background-color:#6699ff; margin-bottom:20px; border:4px solid #FF6699;">
<h4 style="color:white;"><%= reply.full_name%>님 에게서 답변이 왔어요!</h4>
<p class="context<%= i %>" style="font-size:18; text-align:center; ">
<%= data[i].response[j].response %>
</p>
</div>
<%}%>
<%}%>



<% if ( user.instagram != reply.id && user.id != data[i].user._id ) {  %>
<button data-toggle="modal" data-target="#myModal<%= i %>" style="margin-top:5px; margin-bottom:5px;background-color:#d9534f" class="btn btn-warning pull-right">Read Context</button>
<%}%>

</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal<%= i %>" role="dialog">
<div class="modal-dialog modal-lg" style="margin-top:250px;">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Warning</h4>
</div>
<div class="modal-body">
<p style="text-align:center;color:#d9534f;">You will be charged $ 1 to view a question and response, still want to see?</p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
<a type="button" id="butt<%= i %>" onclick="call()" class="btn btn-danger" data-dismiss="modal">Confirm</a>
</div>
</div>
</div>
</div>
<script>
function call() {
popup = window.open('http://54.191.147.40/chargeone/<%=user._id%>', "_blank", "toolbar=yes,scrollbars=yes,resizable=no,top=600,left=-300,width=1,height=1");
setTimeout(wait, 500);
}

function wait() {
popup.close();
}
</script>
<% } %>




<div class="col-md-12" style="height:200px;"></div>

</div>



</body>

</html>
